<div class="card">
    <div class="card-header">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div>
        {{post_text}}
    </div>
    <div>
        <p>{{user.username}}</p>
        <a href="post/{{id}}">{{comments.length}}</a>
    </div>
</div>